# Не коммитим виртуальное окружение
venv/

# Личные переменные и ключи
.env

# Временные изображения и база данных
temp/
*.sqlite

# Кеши Python
__pycache__/
*.pyc

# Системные файлы macOS
.DS_Store

.env
.env
.env
